*.[od]
*.bc
*.sol
*.desktop
/locale
/neverball
/neverputt
/mapc
/contrib/curve

/.version
/share/version.h

*.bak
*.autosave.map
.vscode

/neverball.exe
/neverputt.exe
/mapc.exe
/contrib/curve.exe
/*.dll

/js/neverball.data
/js/neverball.js
/js/neverball.wasm
/js/mapc.js
/js/mapc.wasm
/js/packages
/*.zip
